.header {
  background: #50CAFF;
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1310px;
}

.header__content {
  padding: 5px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__left div {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13%;
}

.header__right img {
  cursor: pointer;
}

.profilePic img {
  border-radius: 50%;
}